@import url('bootstrap/dist/css/bootstrap.min.css');

.row {
    width: 100%;
}

.header {
    margin: 20px;
    color: #0091ff;
    text-align: center;
    text-decoration: underline;
}

.name {
    color: #1e00ff;
}

.flip-card {
    margin-top: 20px;
}

.flip-card-front, .flip-card-rear {
    border-radius: 5px;
    margin: 1rem;
    width: 400px;
    height: 380px;
    border: 2px solid red;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    perspective: 1000px;
    text-align: center;
    background-color: #fafafa;
}

.flip-card-front {
    transition: .5s ease;
    padding: 20px;
}

.about-img {
    background-size: contain;
    width: 350px;
    height: 300px;
}

.name {
    margin-top: 10px;
    padding: 5px;
    border-top: 2px solid #0091ff;
}

.flip-card-rear {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(-0%, -108.4%) rotateY(180deg);
    -ms-transform: translate(-50%, -50%);
    overflow: auto;
}

.flip-card:hover .flip-card-front {
    transition: .5s ease;
    transform: rotateY(180deg);
    opacity: 0;
}

.flip-card:hover .flip-card-rear {
    opacity: 1;
    transform: translate(-0%, -108.4%);
    -ms-transform: translate(-50%, -50%);
}

.bio {
    margin-top: 5px;
}

.bio > h2,h4 {
    color: #1602f5;
    margin-top: 20px;
}

.bio > p {
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: -20px;
    color: #7302f5;
}

.MuiSvgIcon-root {
    color: black;
    margin-right: 5px;
}

.about-desc {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}