@import url('bootstrap/dist/css/bootstrap.min.css');

.row {
    margin-top: 50px;
}

.event-card {
    margin: 1rem;
    width: 300px;
    height: 300px;
    border: 2px solid red;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    perspective: 1000px;
    text-align: center;
}

.event-card-front {
    padding: 20px;
}

.event-card:hover .event-card-front {
    opacity: 0.2;
}

.event-card:hover .event-card-rear {
    opacity: 0.8;
}

.event-img {
    background-size: contain;
    width: 250px;
    height: 200px;
}

.event-desc {
    margin-top: 15px;
    padding-top: 5px;
    border-top: 2px solid royalblue;
    text-align: left;
}

.event-card-rear {
    padding: 20px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: white;
    color: black;
    overflow: auto;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(-0.3%, -101%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.event-head {
    color: blue;
    text-decoration: underline;
}

.event-card-rear > p {
    color: red;
    font-weight: 500;
}

.content {
    padding-top: 10px;
    text-align: left;
}