@import url('bootstrap/dist/css/bootstrap.min.css');

#confirmation {
    color: red;
}

form {
    margin: 5% 35%;
    padding: 30px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

label {
    margin-left: 5%;
    padding: 10px;
    text-align: left;
}

input {
    margin-left: 5%;
    margin-right: 15%;
    padding: 0px;
    outline-width: 0px;
    border: none;
    border-bottom: 1px solid black;
    float: right;
    background-color: #f0f0f0;
}

textarea {
    margin-left: 25%;
    min-height: 100px;
}

input:focus {
    transition: 0.5s ease;
    background-color: #ffffff;
    border-radius: 2px;
}

button {
    margin-left: 40%;
    margin-top: 10%;
}