@import url('bootstrap/dist/css/bootstrap.min.css');

.footer-top {
    background-color: black;
    /* padding: 30px; */
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-img {
    width: 10%;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.quick-access {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.title {
    margin-left: 40px;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid white;
}

.quick-access > ul {
    list-style-type: disc;
    color: white;
    margin-left: 20px;
} 

.footer-bottom {
    /* margin-top: -16px; */
    background-color: #03ff35;
    /* height: 50px; */
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: black;
    font-weight: 500;
}