@import url('bootstrap/dist/css/bootstrap.min.css');

.navbar {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid red;
}

.logo {
    width: 10%;
    height: 5%;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
    margin: -8px;
}

.nav-item {
    padding: 30px 50px;
}

.navbar-link:hover {
    background-color: #e6e6e6;
}

.navbar-link {
    color: black;
}

.navbar-link:hover {
    text-decoration: none;
    color: red;
}

.navbar-link:active {
    text-decoration: none;
    font-weight: 500;
    background-color: red;
    color: white;
}