@import url('bootstrap/dist/css/bootstrap.min.css');

.swiper-container {
    width: 80%;
    height: 300px;
    border-radius: 50px;
    border: 2px solid royalblue;
    z-index: auto;
}

img {
    width: 80vw;
    height: 300px;
}