@import url('bootstrap/dist/css/bootstrap.min.css');

.swiper-container {
    margin-top: 10%;
    width: 80%;
    height: 300px;
    border-radius: 30px;
    border: 2px solid royalblue;
}

.swiper-button-prev, .swiper-button-next {
    z-index: 10;
    margin: 50px;
}

img {
    width: 80vw;
    height: 300px;
}